@model IEnumerable<HeroProject.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HeroName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HeroName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateJoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
    -->
<body>
  
        <section id="left">
            <div id="userStats" class="clearfix">
                <table>
                    <tr>
                        <td> 
                            <div class="pic">
                                <a href="#"> <img src=http://www.tradeindetectives.com/imagesMCE/Batman.jpg width="200" height=" 200" /> </a>
                            </div>
                        </td>
                   
                        <td>
                            <div class="pic">
                                <a href="#"> <img src=http://vignette4.wikia.nocookie.net/deadliestfiction/images/6/6b/Profile-_Captain_America.png/revision/latest?cb width="200" height="200" /> </a>
                            </div>
                        </td>

                        <td>
                            <div class="pic">
                                <a href="#"> <img src=http://static.comicvine.com/uploads/original/11113/111138276/3493316-superman_0007.jpg width="200" height="200" /> </a>
                            </div>
                        </td>

                        <td>
                            <div class="pic">
                                <a href="#"> <img src=http://www.comicbookmovie.com/images/users/uploads/22262/iron_man_movie_image.jpg width="200" height="200" /> </a>
                            </div>
                        </td>

                        <td>
                            <div class="pic">
                                <a href="~/Deadpool.html"> <img src=http://orig03.deviantart.net/005c/f/2013/198/0/7/profile_picture_by_rp_deadpool-d6dz3v7.png width="200" height="200" /> </a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="pic">
                                <a href="~/Deadpool.html"> <img src=http://orig02.deviantart.net/4445/f/2014/024/6/1/profile_picture_by_spiderman_advanced-d73iw6i.jpg width="200" height="200" /> </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

 </body>